venv*/
venv313/
\.venv/
build/
dist/
release/
\.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
data/backups/
backups/
*.log
*.sqlite
*.db
.env
/.idea/
.vscode/
node_modules/
*.egg-info/
*.egg
.DS_Store
*.egg-info/
.tox/